@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Final Project</h1>
    <p> Please use the navbar to discover more about us!</p>

    <img src="~/lib/images/gabepic.png" width="22%"/>
    <img src="~/lib/images/mattpic.JPG" width="25%"/>

    <p>After you are done viewing our pages, feel free to leave some feeback in the textbox below. All feeback is viewable on the feedback page!</p>


</div>
