@model FeedbackViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Final Project</h1>
    <p> Please use the navbar to discover more about us!</p>

    <img src="~/lib/images/gabepic.png" width="22%"/>
    <img src="~/lib/images/mattpic.JPG" width="25%"/>
    <p></p>
    <p>After you are done viewing our pages, feel free to leave some feeback in the textbox below. All feeback is viewable on the feedback page!</p>
</div>
    
        <div class="form-group">
            <label for="inputName">Name:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Enter your Name" asp-for="FeedbackName" />
        </div>

        <div class="form-group">
            <label for="inputFeedback">Feedback for us:</label>
            <input type="text" size="250" class="form-control" id="inputFeedback" placeholder="Enter feedback here" asp-for="FeedbackText" />
        </div>
    

    <button type="submit" onclick="Save()" class="btn btn-primary submission">Submit Feedback</button>

