@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Final Project</h1>
    <p> Please use the navbar to discover more about us!</p>

    <img src="~/lib/images/gabepic.jpg" width="25%"/>
</div>
