@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Final Project</h1>
    <p> Here you will discover more about us in a brief format. Please use the navbar to discover about us!</p>

    <img src="GabePic (2).jpg" alt="Picture of Gabe" />
</div>
