
@{
    ViewData["Title"] = "About Gabe";
}



<div class="text-center">
  <h1>About Gabe</h1>
</div>


<div class="align-content-md-center">
  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Where is he from?</h2>
            <p> Hometown: Cleveland, Ohio</p>
            <p> Grew up 45 minutes east of Cleveland in a small town.</p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <div class="container">
            <h2>School</h2>
            <p>High School: West Geuaga High School</p>
            <p>College: University of Cincinnati</p>
            <p>Major: Information Technology - Software Development</p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Personal Life</h2>
            <p>Favorite Color: Blue</p>
            <p>Favorite Food: Turkey Leg or Mexican Cuisine</p>
            <p>Favorite Band: Bon Jovi</p>
            <p>Favortie Music Artist: Kid Cudi</p>
        </div>
    </div>
  </div>


  
</div>