
@{
    ViewData["Title"] = "GabeHobby";
}


<div class="text-center">
  <h1>Gabe's Hobbies</h1>
</div>

<div class="align-content-md-center">
  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Music: </h2>
            <p>Gabe listens to a lot of music when doing homework, traveling, or doing just about anything!</p>
            <p>Some of his favorite genres of music to listen to:</p>
            <p>- Rock</p>
            <p>- Rap</p>
            <p>- Pop</p>
            <p>- Funk</p>
            <p>- Indie</p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Video Games</h2>
            <p>Gabe has a high passion for video games and has been gaming since he was 9 years old!</p>
            <p>Some video games he is currently playing:</p>
            <p>- Overwatch</p>
            <p>- Sea Of Thieves</p>
            <p>- Call of Duty: Warzone</p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Traveling</h2>
            <p>Gabe has yet to travel internationally but has been all over the United States!</p>
            <p>States he has visited so far:</p>
            <p>- Wyoming</p>
            <p>- Utah</p>
            <p>- North and South Carolina</p>
            <p>- Georgia</p>
            <p>- Florida</p>
        </div>
    </div>
  </div>


  
</div>