
@{
    ViewData["Title"] = "About Matt";
}



<div class="text-center">
  <h1>About Matt</h1>
</div>


<div class="align-content-md-center">
  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Where is he from?</h2>
            <p> Hometown: Cincinnati,Ohio</p>
            <p> Grew up 45 minutes north of Cincinnati in a small town.</p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <div class="container">
            <h2>School</h2>
            <p>High School: Mason High School</p>
            <p>College: University of Cincinnati</p>
            <p>Major: Information Technology - Software Development</p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Personal Life</h2>
            <p>Favorite Color: Blue</p>
            <p>Favorite Food: Bread</p>
            <p>Favorite Band: Between the Burried in Me</p>
            <p>Favortie Music Artist: Artic Monkeys</p>
        </div>
    </div>
  </div>


  
</div>