
@{
    ViewData["Title"] = "Matt's Hobbies";
}


<div class="text-center">
  <h1>Matt's Hobbies</h1>
</div>

<div class="align-content-md-center">
  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Cars: </h2>
            <p>Matt was a mechanic for 7 years and has a big passion for cars!</p>
            <p>Some of his favorite cars:</p>
            <p>- Old BMWs</p>
            <p>- Hondas</p>
            <p>- Mazda</p>
            
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Cooking</h2>
            <p>Matt has a passion for culinary arts, he started cooking when he was 18 years old!</p>
            <p>Some meals to make:</p>
            <p>- Macaroni and Cheese</p>
            <p>- Spaghetti</p>
            <p>- Bread</p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <div class="container">
            <h2>Video Games</h2>
            <p>Matt has a passion for gaming, her first started gaming when he was 4 years old!</p>
            <p>Some video games he is fond of:</p>
            <p>- World of Warcraft</p>
            <p>- Final Fantasy 14</p>
            <p>- Dark Souls</p>
            <p>- Overwatch 2</p>
            <p>- Stardew Valley</p>
        </div>
    </div>
  </div>


  
</div>

